@font-face {
    font-family: 'Custom Font';
    src: url('../font/YeZiGongChangJingHongXingKai/YeZiGongChangJingHongXingKai-2.ttf') format('truetype');
    /* 添加更多的 src 属性以支持不同的字体格式（如 woff、woff2 等） */
}
@font-face {
    font-family: 方正舒体;
    src: url("../font/寒蝉书体春秋/ChillCalligraphy_ChenFeng.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 1s ease 0s;
    border-radius: 8px;
    width: 100px;
    left:  100px;
    background-color: #1abc9c;
}

nav {
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 50px;
    top: 50px;
    left: auto;
    background-color: #bac8d1;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 2px 2px 2px #000;
}
nav a {
     font-family: "Custom Font", serif;
     width: 100px;
     height: 100%;
     line-height: 50px;
     font-size: 20px;
     display: inline-block;
     position: relative;
     z-index: 1;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     color: white;
     cursor: pointer;
 }
a:nth-child(2):hover~.animation {
    left: 100px;
    background-color: #268378;
}
a:nth-child(3):hover~.animation {
    left: 200px;
    background-color: cornflowerblue;
}
a:nth-child(4):hover~.animation {
    left: 300px;
    background-color: #668887;
}
a:nth-child(5):hover~.animation {
    left: 400px;
    background-color: #013972;
}
.app {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../asset/bkg1.png");
    background-size: cover;
}
html {
    overflow-y: scroll; /* 始终显示垂直滚动条 */
    overflow-x: hidden; /* 隐藏水平滚动条 */
}
.content-box {
    width: 100vw;
    position: absolute;
    background-color: #383f3c;
}
.content ul li {
    display: flex; /* 将 li 元素设置为 flex 布局 */
    align-items: flex-start; /* 设置垂直方向的对齐方式为顶部对齐，可根据需求调整 */
}
.content ul {
    list-style-type: none;
    position: relative;
    left: 300px;
    margin: 50px;
}
.content ul li img {
    display: flow;
    height: 225px;
    width: auto;
    border-radius: 30px 0 0 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #666060;
    margin: 50px 0 40px 0;
    float: left; /* 使用 float 左浮动 */
}

.content ul li span {
    font-family: 华文仿宋, serif;
    padding: 20px;
    margin: 50px 250px 0 0;
    font-size: 20px;
    color: #679e99;
    width: 500px;
    height: 225px;
    float: left; /* 使用 float 左浮动 */
    border: 1px solid #666060;
    border-radius: 0 30px 30px 0;
    letter-spacing: 2px;
    line-height: 38px;
}
span::first-letter {
    font-family: 方正舒体, serif;
    font-size: 45px;
}
footer {
    width: 100vw;
    height: 100px;
    background-color: transparent;
    position: relative; /* 添加此属性以便让绝对定位的子元素相对于它进行定位 */
}
footer p {
    color: #7aa095;
    position: absolute;
    bottom: 10px;
    margin: auto; /* 让元素水平居中 */
    left: 0; /* 让元素左侧与容器左侧对齐 */
    right: 0; /* 让元素右侧与容器右侧对齐 */
    text-align: center; /* 让文本垂直居中 */
}
@media screen and (max-width: 768px) {
    /* 在这里添加移动设备下的样式 */
    nav {
        /* 添加 flex 布局属性 */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav a {
        /* 调整样式 */
        font-size: 16px;
        margin: 5px 0;
        width: 80%;
    }
    .content ul li {
        /* 修改样式为块级元素 */
        display: block;
    }
    .content ul li img {
        /* 调整样式 */
        width: 100%;
        height: auto;
        border-radius: 30px 30px 0 0;
        margin: 0;
    }
    .content ul li span {
        /* 调整样式 */
        margin: 10px 0;
        width: 100%;
        height: auto;
        float: none;
        border-radius: 0 0 30px 30px;
        line-height: 28px;
        font-size: 16px;
        text-align: justify;
    }
}